{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<body>
    <div class="container">
        <h1>List of Jobs applications:</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Offer</th>
                    <th scope="col">Location</th>
                    <th scope="col">Application date</th>
                    <th scope="col">State</th>
                </tr>
            </thead>
            <tbody>
                {% for application in applications %}
                <tr>
                    <td>{{ application.offer.title }}</td>
                    <td>{{ application.offer.location }}</td>
                    <td>{{ application.date_application }}</td>
                    <td>{{ application.state }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFOnpDljFH8zYZVp0LN37AUaRB1 EjwRsYH/@IcsVQTsNznExv0m0MzQK8L" crossorigin="anonymous"></script>
</body>


{% endblock %}