{% extends 'core/base.html' %}
{% load static %}
{% load custom_tags %}

{% block content %}
<style>
    .list {
        margin-right: 8%;
        margin-left: 8%;
        margin-bottom: 3%;
    }
    .offer {
        margin-top: 3%;
    }
    .offerTitle {
        font-weight: bold;
        color: #02483E;
    }
    .button-appearance {
        background-color: #02483E;
        color: white;
        padding: 5px 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        text-decoration: none;
        transition: background-color 0.3s;
    }
    .button-appearance:hover {
        background-color: #01352e;
    }
    hr {
        margin-top: 3%;
    }
</style>

<h2 class="mb-4 text-center" style="color: #02483E; margin-bottom: 30px; margin-top: 30px; font-weight: bold; text-shadow: 1px 1px 2px rgba(0,0,0,0.3);">
    Offers List</h2>
<div class="list">
    {% for offer in offers %}
    <div class="offer">
        <h3 class="offerTitle">{{ offer.title }}</h3>
        <h5>Date Range: {{ offer.start_date|date:"Y-m-d" }} to {{ offer.end_date|date:"Y-m-d" }}</h5>
        <h5>{{ offer.location }}</h5>
        <p>{{ offer.description }}</p>
        {% if applications|get_item:offer.id %}
            <p style="color: red;">You've already applied for this offer</p>
        {% elif hirings|get_item:offer.id %}
            <p style="color: red;">You're already working on this service</p>
        {% else %}
            <form id="applyForm{{ offer.id }}" action="/employeeApplication/{{ offer.id }}/" method="post">
                {% csrf_token %}
                <button type="button" class="button-appearance" onclick="return confirmApply('{{ offer.id }}', '{{ offer.title }}', '{{ offer.start_date|date:'Y-m-d' }}', '{{ offer.end_date|date:'Y-m-d' }}', '{{ offer.location }}')">Apply</button>
            </form>
        {% endif %}
        <hr></hr>
    </div>
    {% endfor %}
</div>

<script>
function confirmApply(offerId, offerTitle, startDate, endDate, location) {
    if(confirm(`Are you sure you want to apply for the offer "${offerTitle}" at "${location}" from ${startDate} to ${endDate}?`)){
        document.getElementById('applyForm' + offerId).submit();
    }
}
</script>
{% endblock %}
