{% extends 'core/base.html' %}
{% load static %}
{% load custom_tags %}

{% block content %}
<style>
    h1 {
        text-align: center;
        color: #333;
    }
    label {
        display: block;
        margin-top: 3%;
    }
    input[type="text"], textarea {
        width: 100%;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
    }
    .list {
        margin-right: 8%;
        margin-left: 8%;
        margin-bottom: 3%;
    }
    .offer {
        margin-top: 3%;
    }
    .offerTitle {
        font-weight: bold;
    }
    .button-appearance {
        background-color: #02483E;
        color: white;
        padding: 5px 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        text-decoration: none;
        transition: background-color 0.3s;
    }
    .button-appearance:hover {
        background-color: #01352e;
    }
</style>

<h1 style="margin-top: 2%;">Offer List</h1>

<div class="container mt-4">
    <form method="post" action="{% url 'employeeOfferList' %}" id="miFormulario" class="mb-4">
        {% csrf_token %}
        <div class="input-group">
            <input type="text" class="form-control bg-light border-0 small" placeholder="Search offers..." id="search" name="search" value="{{ search }}" />
            <div class="input-group-append">
                <button class="btn btn-primary  mb-3" type="submit">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </form>

    <div class="list">
        {% if offers %}
            {% for offer in offers %}
                <div class="offer">
                    <h2 class="offerTitle">{{ offer.title }}</h2>
                    <h3>Job Dates: {{ offer.start_date|date:"Y-m-d" }} to {{ offer.end_date|date:"Y-m-d" }}</h3>
                    <h4>Company: {{offer.cateringservice.cateringcompany }}</h4>
                    <h4>Service: {{offer.cateringservice }}</h4>
                    <h4>Location: {{ offer.location }}</h4>
                    <p>{{ offer.description }}</p>
                    {% if applications|get_item:offer.id %}
                        <p style="color: red;">You've already applied for this offer</p>
                    {% elif hirings|get_item:offer.id %}
                        <p style="color: red;">You're already working on this service</p>
                    {% else %}
                        <form id="applyForm{{ offer.id }}" action="/employeeApplication/{{ offer.id }}/" method="post">
                            {% csrf_token %}
                            <button type="button" class="button-appearance" onclick="return confirmApply('{{ offer.id }}', '{{ offer.title }}', '{{ offer.start_date|date:'Y-m-d' }}', '{{ offer.end_date|date:'Y-m-d' }}', '{{ offer.location }}')">Apply</button>
                        </form>
                    {% endif %}
                </div>
            {% endfor %}
        {% elif search %}
            <div class="alert alert-info mt-4" role="alert">
                No se encontraron ofertas con el nombre "{{ search }}".
            </div>
        {% else %}
            <div class="alert alert-info mt-4" role="alert">
                No hay ninguna oferta disponible en este momento.
            </div>
        {% endif %}
    </div>
</div>

<script>
function confirmApply(offerId, offerTitle, startDate, endDate, location) {
    if(confirm(`Are you sure you want to apply for the offer "${offerTitle}" at "${location}" from ${startDate} to ${endDate}?`)){
        document.getElementById('applyForm' + offerId).submit();
    }
}
</script>
{% endblock %}
