{% extends 'core/base.html' %}
{% load static %}

{% block content %}


<div class="container mt-4">
    <h1 class="mb-4">Listado de Caterings</h1>
    <div class="row">
        {% for catering in caterings %}
            <div class="col-md-6">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">{{ catering.name }}</h5>
                        <p class="card-text">{{ catering.description }}</p>
                        <p class="card-text">Ubicación: {{ catering.location }}</p>
                        <p class="card-text">Capacidad: {{ catering.capacity }}</p>
                        <p class="card-text">Precio: {{ catering.price }}</p>
                        <a href="{% url 'catering_detail' catering.id %}" class="btn btn-primary">Ver detalles</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}