{% extends 'core/base.html' %} {% load static %} {% block content %}
<div class="container mt-4">
  <h1 class="card-title">{{ catering.name }}</h1>
  <p class="card-title">Catering company: {{ catering.cateringcompany.name }}</p>
  <p><strong>Descripción:</strong> {{ catering.description }}</p>
  <p><strong>Ubicación:</strong> {{ catering.location }}</p>
  <p><strong>Capacidad:</strong> {{ catering.capacity }}</p>
  <p><strong>Precio:</strong> {{ catering.price }}</p>
  {% if catering.cateringcompany.logo %}
    <img src="/media/{{ catering.cateringcompany.logo }}" class="img-fluid logo-corner" alt="Logo">
  {% endif %}
  {% if is_particular %}
      <a href="{% url 'add_review' catering.id %}" class="btn btn-custom">Add Review</a>
  {% endif %}
  {% if is_particular %}
  <a href="{% url 'booking_process' catering.id %}" class="btn btn-custom">Book</a>
{% endif %}
  <br></br></br>
  <div class="row row-cols-1 row-cols-md-3 g-4">
      {% for review in reviews %}
      <div class="col mb-4">
          <div class="card d-flex flex-column shadow-sm custom-card">
              <div class="card-body flex-fill d-flex flex-column">
                  <div class="rating">
                      {% for _ in "xxxxx" %}
                          {% if forloop.counter <= review.rating %}
                              <span style="color: gold;">&#9733;</span>
                          {% else %}
                              <span>&#9733;</span>
                          {% endif %}
                      {% endfor %}
                  </div>
                  <p><strong>{{ review.description }}</strong></p>
                  <div class="mt-auto">
                      <div class="d-flex justify-content-between align-items-center">
                        <p><strong>- {{ review.particular.user }}</strong></p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      {% endfor %}
  </div>
  
  <!-- Paginación -->
  <nav aria-label="Review pagination">
    <ul class="pagination justify-content-center">
      {% if reviews.has_previous %}
      <li class="page-item"><a class="page-link" href="?page=1"><<</a></li>
      <li class="page-item"><a class="page-link" href="?page={{ reviews.previous_page_number }}"><</a></li>
      {% endif %}

      {% for num in reviews.paginator.page_range %}
      {% if reviews.number == num %}
      <li class="page-item active"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
      {% else %}
      <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
      {% endif %}
      {% endfor %}

      {% if reviews.has_next %}
      <li class="page-item"><a class="page-link" href="?page={{ reviews.next_page_number }}">></a></li>
      <li class="page-item"><a class="page-link" href="?page={{ reviews.paginator.num_pages }}">>></a></li>
      {% endif %}
    </ul>
  </nav>
</div>

<style> 
  .custom-card {
    background-color: #54bfaf; 
    border-radius: 20px; 
    padding: 20px; 
    height: 400px; 
    margin-bottom: 20px; 
  }
  
  .rating {
    unicode-bidi: bidi-override;
    direction: ltr;
  }
  
  .rating > span {
    display: inline-block;
    font-size: 1.5em; /* Tamaño de las estrellas */
    margin-right: 5px; /* Espacio entre las estrellas */
    color: gray; /* Color de las estrellas vacías */
    pointer-events: none; /* Evitar eventos de ratón sobre las estrellas */
  }
  
  .rating > span.empty {
    color: transparent; /* Las estrellas vacías son transparentes */
  }
  
  .rating > span:hover:before,
  .rating > span:hover ~ span:before {
    content: "\2605";
    color: gold;
  }
  
  .pagination {
    margin-top: 20px; /* Agrega margen superior para espacio entre la paginación y las tarjetas */
  }

  .pagination .page-link {
    color: #02483E;
  }
  
  .pagination .page-item.active .page-link {
    background-color: #02483E;
    border-color: #02483E;
  }

  .logo-corner {
    position: absolute;
    bottom: 330px;
    right: 300px;
    width: 130px; /* Ajusta el tamaño según sea necesario */
    height: auto; /* Ajusta el tamaño según sea necesario */
    max-height: 130px;
  }
</style>
{% endblock %}
