{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<div class="container mt-4">
  <h1 class="mb-4 text-center">Chats</h1>
  <hr />
  {% if is_particular %}
    <form
      method="post"
      action="{% url 'listar_caterings_companies' %}"
      id="miFormulario"
      class="mb-4"
    >
      {% csrf_token %}
      <div class="input-group">
        <input
          type="text"
          class="form-control bg-light border-0 small"
          placeholder="Search..."
          id="search"
          name="search"
          value="{{ search }}"
        />
        <div class="input-group-append">
          <button class="btn btn-primary  mb-3" type="submit">
            <i class="fa fa-search" aria-hidden="true"></i>
          </button>
          <button class="btn btn-secondary mb-3" type="button" id="limpiarFiltros">
            <i class="fa fa-times" aria-hidden="true"></i> Limpiar Filtros
          </button>
        </div>
      </div>
    </form>
    <div class="row">
      {% for catering in caterings %}
      <div class="col-md-6">
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="card-title">{{ catering.name }}</h5>
            <p class="card-text">Phone number: {{ catering.phone_number }}</p>
            <a href="{% url 'chat' catering.user.id %}" class="btn btn-primary">Chat</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  {% else %}
    <div class="alert alert-danger" role="alert">You are not authorized to view this page.</div>
  {% endif %}
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const search = document.getElementById("search");

    search.addEventListener("keydown", function (event) {
      if (event.key === "Enter" || event.keyCode === 13) {
        event.preventDefault(); // Evita la acción predeterminada para que no se envíe el formulario automáticamente

        if (search.value.trim() !== "") {
          document.getElementById("miFormulario").submit();
        }
      }
    });
  });
</script>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    // Obtener el botón de limpiar filtros
    var limpiarFiltrosBtn = document.getElementById("limpiarFiltros");
    
    // Agregar un event listener para limpiar el campo de búsqueda cuando se haga clic en el botón
    limpiarFiltrosBtn.addEventListener("click", function() {
      document.getElementById("search").value = ""; // Limpiar el campo de búsqueda
      document.getElementById("miFormulario").submit(); // Enviar el formulario
    });
  });
  </script>
{% endblock %}
