{% extends 'core/base.html' %}
{% load static %}

{% block content %}

<div class="jumbotron text-center" style="background-color: #02483E; color: #fff;">
    <h1 class="display-4">Welcome to BanquetBuddy</h1>
    <p class="lead">The platform for the world of catering</p>
</div>

<!-- Contenido principal -->
<div class="container mb-4">
    <div class="row">
        <div class="col-lg-6">
            <h2 style="color: #54bfaf;">Our Mission</h2>
            <p>
                At BanquetBuddy, we are dedicated to simplifying catering management and facilitating the connection between professionals and employers in the catering industry.</p>
        </div>
        <div class="col-lg-6">
            <h2 style="color: #54bfaf;">Why BanquetBuddy?</h2>
            <p>With BanquetBuddy, you can find job opportunities in the catering world or find the right staff for your events. Let's make event planning easier!</p>
        </div>
    </div>

    <hr style="background-color: #54bfaf;">

    <!-- Sección de Servicios -->
    <div class="row">
        <div class="col-lg-12">
            <h2 style="color: #54bfaf;">Our Services</h2>
            <p>We offer a variety of services to cover all your catering needs. From job searching to complete event management, BanquetBuddy is here for you.</p>
        </div>
    </div>

    <hr style="background-color: #54bfaf;">

    <!-- Sección de Testimonios -->
    <div class="row">
        <div class="col-lg-12">
            <h2 style="color: #54bfaf;">Testimonials</h2>
            <p>"Thanks to BanquetBuddy, I found the perfect job for my skills in the catering industry. Highly recommended!" - Satisfied Customer</p>
            <p>"The platform is intuitive and easy to use. I found staff for my catering in a matter of days." - Executive chef</p>
            <p>"BanquetBuddy has greatly simplified our event management. A must-have tool for any catering company!" - Catering company</p>
            <p>"Amazing customer service. They are always willing to help and solve any problem." - Frequent User</p>
        </div>
    </div>
</div>

{% endblock %}