{% extends 'core/base.html' %}
{% load static %}

{% block content %}

<div class="jumbotron text-center" style="background-color: #02483E; color: #fff;">
    <h1 class="display-4">Política de Privacidad</h1>
    <p class="lead">Versión de la Política: 2.0</p>
    <p class="lead">Vigente a partir de: 9 de abril de 2024</p>
</div>

<!-- Contenido de la Política de Privacidad -->
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2 style="color: #54bfaf;">1. Introducción</h2>
            <p>Este documento establece la Política de Privacidad de la aplicación BanquetBuddy. Esta política está diseñada para informar a los usuarios sobre cómo recopilamos, usamos, divulgamos y protegemos la información personal proporcionada a través de nuestra plataforma. Esta política es conforme a la normativa vigente en España, incluyendo el Reglamento General de Protección de Datos (RGPD).</p>
            <hr style="background-color: #54bfaf;">

            <h2 style="color: #54bfaf;">2. Aceptación de la Política</h2>
            <p>Al utilizar BanquetBuddy, los usuarios aceptan las prácticas descritas en esta Política de Privacidad. Si no está de acuerdo con alguna parte de esta política, no debe utilizar la aplicación.</p>
            <hr style="background-color: #54bfaf;">

            <!-- Cambios en la Política de Privacidad -->
            <h2 style="color: #54bfaf;">3. Cambios en la Política de Privacidad</h2>
            <p>BanquetBuddy se reserva el derecho de modificar esta Política de Privacidad en cualquier momento. Los cambios importantes, especialmente aquellos que afectan la forma en que se manejan los datos personales, serán comunicados a los usuarios a través del correo electrónico con antelación. Para los cambios menos significativos, se actualizará la política en nuestra plataforma. Se considerará que los usuarios han consentido estos cambios si continúan usando la plataforma después de la fecha efectiva de las nuevas políticas. Recomendamos revisar periódicamente esta política para estar informados de cualquier actualización.</p>
            <hr style="background-color: #54bfaf;">

            <h2 style="color: #54bfaf;">4. Responsable del Tratamiento de Datos</h2>
            <p>El responsable del tratamiento de los datos personales en BanquetBuddy es BanquetBuddy S.L.</p>
            <hr style="background-color: #54bfaf;">

            <h2 style="color: #54bfaf;">5. Recopilación de Datos Personales</h2>
            <p>a. Información que usted proporciona: Esto incluye datos personales proporcionados al crear una cuenta, como nombre, dirección de correo electrónico, número de teléfono, y detalles profesionales (para usuarios de catering y buscadores de empleo). Para los organizadores de eventos, se pueden requerir detalles adicionales como preferencias de eventos y datos de contacto.</p>
            <p>b. Información recopilada automáticamente: La aplicación puede recoger automáticamente ciertos datos, como la dirección IP, información del dispositivo, y datos de uso, para mejorar la experiencia del usuario y la funcionalidad de la aplicación.</p>
            <p>c. Información de terceros: Si los usuarios eligen vincular sus cuentas de redes sociales o utilizar funciones que requieren información de terceros, BanquetBuddy recopilará esta información según lo permitido por las configuraciones de privacidad del usuario en esas plataformas.</p>
            <hr style="background-color: #54bfaf;">
        </div>
    </div>
</div>
<!-- Continuación del Contenido de la Política de Privacidad -->
<div class="container">
    <div class="row">
        <div class="col-lg-12">

            <!-- Uso de los Datos Personales -->
            <h2 style="color: #54bfaf;">6. Uso de los Datos Personales</h2>
            <p>Los datos personales recopilados serán utilizados para:</p>
            <ul>
                <li>Gestionar la cuenta del usuario: Para crear y mantener su cuenta en BanquetBuddy.</li>
                <li>Proporcionar servicios: Para conectar a organizadores de eventos con empresas de catering y buscadores de empleo en el sector.</li>
                <li>Mejorar la aplicación: Para personalizar la experiencia del usuario y realizar mejoras en la aplicación basadas en el análisis de datos de uso.</li>
                <li>Comunicaciones: Para enviar actualizaciones, ofertas, y comunicaciones importantes relacionadas con la aplicación.</li>
                <li>Cumplimiento legal: Para cumplir con obligaciones legales, como la respuesta a requerimientos judiciales.</li>
            </ul>
            <hr style="background-color: #54bfaf;">

            <!-- Compartición y Divulgación de Datos -->
            <h2 style="color: #54bfaf;">7. Compartición y Divulgación de Datos</h2>
            <p>a. Con otros usuarios: En el funcionamiento normal de la aplicación, compartiremos información relevante entre los tres tipos de usuarios (organizadores de eventos, empresas de catering y buscadores de empleo en catering) para facilitar la organización de eventos y el empleo. Esto incluye, por ejemplo, compartir contactos y perfiles profesionales.</p>
            <p>b. Proveedores de servicios: Podemos compartir datos personales con proveedores de servicios que nos ayudan a operar la aplicación, como empresas de hosting o análisis de datos. Estos proveedores están sujetos a obligaciones de confidencialidad y no tienen permitido usar los datos personales para otros fines.</p>
            <p>c. Requerimientos legales y protección de derechos: Podemos divulgar información personal si creemos que es necesario para cumplir con una ley, reglamento, proceso legal o solicitud gubernamental, o para proteger los derechos, propiedad o seguridad de BanquetBuddy, sus usuarios u otros.</p>
            <hr style="background-color: #54bfaf;">

            <!-- Derechos de los Usuarios -->
            <h2 style="color: #54bfaf;">8. Derechos de los Usuarios</h2>
            <p>Los usuarios de BanquetBuddy tienen ciertos derechos con respecto a sus datos personales, incluyendo:</p>
            <ul>
                <li>Acceso: Los usuarios pueden acceder a la información que tenemos sobre ellos.</li>
                <li>Rectificación: Los usuarios pueden solicitar la corrección de datos incorrectos.</li>
                <li>Supresión: Los usuarios pueden solicitar la eliminación de sus datos personales, sujetos a ciertas condiciones.</li>
                <li>Oposición y limitación del tratamiento: Los usuarios pueden oponerse al tratamiento de sus datos o solicitar la limitación del mismo.</li>
                <li>Portabilidad: Los usuarios tienen derecho a recibir sus datos personales en un formato estructurado y de uso común.</li>
                <p>En relación con el derecho de supresión, es importante destacar que, en ciertos casos, no podemos eliminar completamente todos sus datos personales debido a requerimientos legales o de otro tipo. Sin embargo, en tales situaciones, procederemos a anonimizar la información, asegurando que no pueda ser asociada con usted como individuo y no pueda ser utilizada para identificarle. Esta anonimización de datos se realiza de acuerdo con las leyes y regulaciones aplicables para garantizar la protección de su privacidad y cumplir con nuestras obligaciones legales.</p>

            </ul>
            <hr style="background-color: #54bfaf;">

            <!-- Seguridad de los Datos -->
            <h2 style="color: #54bfaf;">9. Seguridad de los Datos</h2>
            <p>En BanquetBuddy, nos tomamos la seguridad de su información muy en serio y aplicamos medidas robustas para protegerla contra accesos no autorizados, alteración, divulgación o destrucción indebida. Estas medidas incluyen:</p>
            <ul>
                <li>Encriptación de datos tanto en tránsito como en reposo para asegurar la confidencialidad y la integridad de la información.</li>
                <li>Protocolos de seguridad rigurosos en nuestras operaciones y tecnologías, incluyendo firewalls y sistemas de detección de intrusiones.</li>
                <li>Revisión y actualización regulares de nuestras prácticas de seguridad para abordar nuevas amenazas y vulnerabilidades.</li>
                <li>Formación continua de nuestro personal en las mejores prácticas de seguridad y privacidad de datos.</li>
            </ul>
            <p>Nuestro compromiso con la seguridad de datos abarca no solo la protección técnica, sino también procedimientos organizativos y de formación para garantizar que todos los aspectos de la seguridad de datos estén cubiertos.</p>
            <hr style="background-color: #54bfaf;">

            <!-- Transferencias Internacionales de Datos -->
            <h2 style="color: #54bfaf;">10. Transferencias Internacionales de Datos</h2>
            <p>a. Alcance de las transferencias: Dado que BanquetBuddy puede operar a nivel global, los datos personales pueden ser transferidos y procesados en países fuera de España o la Unión Europea. En estos casos, nos aseguramos de que se proporcione un nivel adecuado de protección para los datos personales, en conformidad con la legislación aplicable.</p>
            <p>b. Medidas de seguridad: Cuando se realizan transferencias internacionales de datos, BanquetBuddy implementa salvaguardias adecuadas, como cláusulas contractuales estándar aprobadas por la Comisión Europea, para garantizar que la información permanezca protegida.</p>
            <hr style="background-color: #54bfaf;">

            <!-- Procedimiento en Caso de Violación de Datos -->
            <h2 style="color: #54bfaf;">11. Procedimiento en Caso de Violación de Datos</h2>
            <p>En BanquetBuddy, definimos una violación de datos como cualquier acceso no autorizado, divulgación o pérdida de información personal. En caso de una violación, nuestro equipo de seguridad iniciará inmediatamente una investigación exhaustiva para identificar y mitigar los riesgos asociados. Nos comprometemos a notificar a los usuarios afectados y a las autoridades de protección de datos en un plazo máximo de 72 horas después de haber detectado la violación, de acuerdo con lo establecido por el RGPD.</p>
            <hr style="background-color: #54bfaf;">
            
            <!-- Adaptabilidad Según el Contexto de los Datos -->
            <h2 style="color: #54bfaf;">12. Adaptabilidad Según el Contexto de los Datos</h2>
            <p>Nuestra estrategia de protección de datos en BanquetBuddy es dinámica y se adapta al tipo y sensibilidad de la información procesada. Por ejemplo, empleamos medidas de seguridad adicionales para datos altamente sensibles, como información financiera, y ajustamos nuestras prácticas de privacidad para garantizar una protección óptima en cada situación específica.</p>
            <hr style="background-color: #54bfaf;">
            
            <!-- Compromiso con las Mejores Prácticas -->
            <h2 style="color: #54bfaf;">13. Compromiso con las Mejores Prácticas</h2>
            <p>Nos dedicamos a implementar las mejores prácticas en materia de protección de datos y privacidad en BanquetBuddy, incluyendo el uso de cifrado de última generación, capacitación periódica de nuestro personal en seguridad de la información y auditorías regulares para evaluar y mejorar nuestras medidas de seguridad. Todo esto nos permite cumplir con la normativa vigente en España y el RGPD, además de mantenernos al día con los últimos avances en el campo.</p>
            <hr style="background-color: #54bfaf;">
            
            <!-- Contacto -->
            <h2 style="color: #54bfaf;">14. Contacto y GDPR Officer</h2>
            <p>Para preguntas, comentarios o solicitudes relacionadas con esta Política de Privacidad o el tratamiento de datos personales por parte de BanquetBuddy, incluyendo cualquier consulta dirigida a nuestro GDPR Officer, los usuarios pueden contactarnos a través de:</p>
            <ul>
                <li>Correo Electrónico del GDPR Officer: <a href="mailto:dpo@banquetbuddy.es" style="color: #54bfaf; font-weight: bold;">dpo@banquetbuddy.es</a></li>
            </ul>
            <p>Además, los usuarios tienen derecho a presentar una reclamación ante la Agencia Española de Protección de Datos (AEPD) si consideran que el tratamiento de sus datos personales no cumple con la normativa de protección de datos.</p>
            <hr style="background-color: #54bfaf;">
            
            <!-- Referencia a políticas anteriores -->
            <div class="text-center mt-4">
                <p>Para ver versiones anteriores de nuestra Política de Privacidad, por favor visite nuestro <a href="{% url 'previous_policies' %}" style="color: #54bfaf; font-weight: bold;">archivo de políticas</a>.</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
