{% extends 'core/base.html' %}
{% load static %}

{% block content %}

<div class="jumbotron text-center" style="background-color: #02483E; color: #fff;">
    <h1 class="display-4">Privacy Policy</h1>
    <p class="lead">Policy Version: 2.0</p>
    <p class="lead">Effective Date: April 9, 2024</p>
</div>

<!-- Privacy Policy Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2 style="color: #54bfaf;">1. Introduction</h2>
            <p>This document establishes the Privacy Policy of the BanquetBuddy application. This policy is designed to inform users about how we collect, use, disclose, and protect personal information provided through our platform. This policy is in compliance with current regulations in Spain, including the General Data Protection Regulation (GDPR).</p>
            <hr style="background-color: #54bfaf;">

            <h2 style="color: #54bfaf;">2. Acceptance of the Policy</h2>
            <p>By using BanquetBuddy, users accept the practices described in this Privacy Policy. If you do not agree with any part of this policy, you should not use the application.</p>
            <hr style="background-color: #54bfaf;">

            <!-- Changes in the Privacy Policy -->
            <h2 style="color: #54bfaf;">3. Changes in the Privacy Policy</h2>
            <p>BanquetBuddy reserves the right to modify this Privacy Policy at any time. Significant changes, especially those affecting how personal data is handled, will be communicated to users via email in advance. For less significant changes, the policy will be updated on our platform. Users will be deemed to have consented to these changes if they continue to use the platform after the effective date of the new policies. We recommend periodically reviewing this policy to stay informed of any updates.</p>
            <hr style="background-color: #54bfaf;">

            <h2 style="color: #54bfaf;">4. Data Controller</h2>
            <p>The data controller for personal data processing at BanquetBuddy is BanquetBuddy S.L.</p>
            <hr style="background-color: #54bfaf;">

            <h2 style="color: #54bfaf;">5. Collection of Personal Data</h2>
            <p>a. Information you provide: This includes personal data provided when creating an account, such as name, email address, phone number, and professional details (for catering users and job seekers). For event organizers, additional details may be required such as event preferences and contact information.</p>
            <p>b. Automatically collected information: The application may automatically collect certain data, such as IP address, device information, and usage data, to improve user experience and application functionality.</p>
            <p>c. Third-party information: If users choose to link their social media accounts or use features that require third-party information, BanquetBuddy will collect this information as permitted by the user's privacy settings on those platforms.</p>
            <hr style="background-color: #54bfaf;">
        </div>
    </div>
</div>
<!-- Continuation of the Privacy Policy Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-12">

            <!-- Use of Personal Data -->
            <h2 style="color: #54bfaf;">6. Use of Personal Data</h2>
            <p>The collected personal data will be used to:</p>
            <ul>
                <li>Manage user account: To create and maintain their account on BanquetBuddy.</li>
                <li>Provide services: To connect event organizers with catering companies and job seekers in the sector.</li>
                <li>Improve the application: To personalize user experience and make application improvements based on data analysis.</li>
                <li>Communications: To send updates, offers, and important communications related to the application.</li>
                <li>Legal compliance: To comply with legal obligations, such as responding to judicial requirements.</li>
            </ul>
            <hr style="background-color: #54bfaf;">

            <!-- Sharing and Disclosure of Data -->
            <h2 style="color: #54bfaf;">7. Sharing and Disclosure of Data</h2>
            <p>a. With other users: In the normal operation of the application, we will share relevant information among the three types of users (event organizers, catering companies, and catering job seekers) to facilitate event organization and employment. This includes, for example, sharing contacts and professional profiles.</p>
            <p>b. Service providers: We may share personal data with service providers who assist us in operating the application, such as hosting or data analysis companies. These providers are subject to confidentiality obligations and are not allowed to use personal data for other purposes.</p>
            <p>c. Legal requirements and rights protection: We may disclose personal information if we believe it is necessary to comply with a law, regulation, legal process, or government request, or to protect the rights, property, or safety of BanquetBuddy, its users, or others.</p>
            <hr style="background-color: #54bfaf;">

            <!-- User Rights -->
            <h2 style="color: #54bfaf;">8. User Rights</h2>
            <p>BanquetBuddy users have certain rights regarding their personal data, including:</p>
            <ul>
                <li>Access: Users can access the information we have about them.</li>
                <li>Rectification: Users can request correction of incorrect data.</li>
                <li>Erasure: Users can request deletion of their personal data, subject to certain conditions.</li>
                <li>Objection and restriction of processing: Users can object to the processing of their data or request its restriction.</li>
                <li>Portability: Users have the right to receive their personal data in a structured, commonly used, and machine-readable format.</li>
            </ul>
            <p>Regarding the right to erasure, it is important to note that in certain cases, we cannot completely delete all your personal data due to legal or other requirements. However, in such situations, we will proceed to anonymize the information, ensuring that it cannot be associated with you as an individual and cannot be used to identify you. This anonymization of data is carried out in accordance with applicable laws and regulations to ensure the protection of your privacy and compliance with our legal obligations.</p>
            
            <hr style="background-color: #54bfaf;">

            <!-- Data Security -->
            <h2 style="color: #54bfaf;">9. Data Security</h2>
            <p>At BanquetBuddy, we take the security of your information very seriously and apply robust measures to protect it against unauthorized access, alteration, disclosure, or improper destruction. These measures include:</p>
            <ul>
                <li>Data encryption both in transit and at rest to ensure confidentiality and integrity of information.</li>
                <li>Rigorous security protocols in our operations and technologies, including firewalls and intrusion detection systems.</li>
                <li>Regular review and update of our security practices to address new threats and vulnerabilities.</li>
                <li>Ongoing training of our staff in best practices for data security and privacy.</li>
            </ul>
            <p>Our commitment to data security encompasses not only technical protection but also organizational procedures and training to ensure that all aspects of data security are covered.</p>
            <hr style="background-color: #54bfaf;">

            <!-- International Data Transfers -->
            <h2 style="color: #54bfaf;">10. International Data Transfers</h2>
            <p>a. Scope of transfers: Since BanquetBuddy may operate globally, personal data may be transferred and processed in countries outside of Spain or the European Union. In such cases, we ensure that an adequate level of protection for personal data is provided in accordance with applicable law.</p>
            <p>b. Security measures: When international data transfers are made, BanquetBuddy implements appropriate safeguards, such as standard contractual clauses approved by the European Commission, to ensure that information remains protected.</p>
            <hr style="background-color: #54bfaf;">

            <!-- Data Breach Procedure -->
            <h2 style="color: #54bfaf;">11. Data Breach Procedure</h2>
            <p>At BanquetBuddy, we define a data breach as any unauthorized access, disclosure, or loss of personal information. In case of a breach, our security team will immediately initiate a thorough investigation to identify and mitigate associated risks. We are committed to notifying affected users and data protection authorities within a maximum of 72 hours after detecting the breach, in accordance with the GDPR.</p>
            <hr style="background-color: #54bfaf;">
            
            <!-- Context-Specific Data Adaptability -->
            <h2 style="color: #54bfaf;">12. Context-Specific Data Adaptability</h2>
            <p>Our data protection strategy at BanquetBuddy is dynamic and adapts to the type and sensitivity of processed information. For example, we employ additional security measures for highly sensitive data, such as financial information, and adjust our privacy practices to ensure optimal protection in each specific situation.</p>
            <hr style="background-color: #54bfaf;">
            
            <!-- Commitment to Best Practices -->
            <h2 style="color: #54bfaf;">13. Commitment to Best Practices</h2>
            <p>We are committed to implementing best practices in data protection and privacy at BanquetBuddy, including the use of state-of-the-art encryption, periodic training of our staff in information security, and regular audits to assess and improve our security measures. All of this allows us to comply with current regulations in Spain and the GDPR, as well as stay up-to-date with the latest advancements in the field.</p>
            <hr style="background-color: #54bfaf;">
            
            <!-- Contact -->
            <h2 style="color: #54bfaf;">14. Contact and GDPR Officer</h2>
            <p>For questions, comments, or requests related to this Privacy Policy or the processing of personal data by BanquetBuddy, including any inquiries directed to our GDPR Officer, users can contact us through:</p>
            <ul>
                <li>GDPR Officer Email: <a href="mailto:dpo@banquetbuddy.es" style="color: #54bfaf; font-weight: bold;">dpo@banquetbuddy.es</a></li>
            </ul>
            <p>In addition, users have the right to lodge a complaint with the Spanish Data Protection Agency (AEPD) if they believe that the processing of their personal data does not comply with data protection regulations.</p>
            <hr style="background-color: #54bfaf;">
            
            <!-- Reference to Previous Policies -->
            <div class="text-center mt-4">
                <p>To view previous versions of our Privacy Policy, please visit our <a href="{% url 'previous_policies' %}" style="color: #54bfaf; font-weight: bold;">policy archive</a>.</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}