{% extends 'core/base.html' %}
{% load static %}

{% block content %}

<div class="contact-info">
    <style>
    .contact-info .background {
        background-color: #ddf1f0;
        padding: 50px 0;
    }
    
    .contact-info .container {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    
    .contact-info .info {
        flex-basis: 50%;
        text-align: center;
    }
    
    .contact-info .info h2 {
        font-size: 2em;
        margin-bottom: 30px;
    }
    
    .contact-info .info ul {
        list-style: none;
        padding: 0;
    }
    
    .contact-info .info ul li {
        margin-bottom: 10px;
    }
    
    .contact-info .info ul li a {
        font-size: 1.2em;
    }
    
    .contact-info .image {
        flex-basis: 50%;
        text-align: center;
    }
    
    .contact-info .image img {
        max-width: 60%;
        height: auto;
    }

    .contact-info .header {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
    }
    </style>

    <div class="header">
        <h1>Contact information</h1>
    </div>
    <div class="background">
        <div class="container">
            <div class="info">
                <hr/>
                <ul>
                    <h2>Address:</h2>
                    <p>Av. de la Reina Mercedes, 41012 Sevilla, España</p>
                    <li><a href="https://maps.app.goo.gl/MyKcMp62qkBrG1jG8" target="_blank">See on map</a></li><br>
                    <h2>Email:</h2>
                    <li><a href="mailto:banquetbuddyoficial@gmail.com">banquetbuddyoficial@gmail.com</a></li><br>
                    <p>We strive to respond to messages in the shortest time possible.</p>
                    <p>Thanks for your understanding.</p>
                </ul>
            </div>
            <div class="image">
                <img src="/static/core/images/Contacto.png">
            </div>
        </div>
    </div>
</div>

{% endblock %}