{% extends 'core/base.html' %}
{% load static %}

{% block content %}

<div class="contact-info">
    <style>
        .contact-info .container {
            max-width: 1200px;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
        }

        .contact-info .info {
            flex-basis: 50%;
            text-align: center;
        }

        .contact-info .info h2 {
            margin-bottom: 30px;
        }

        .contact-info .info ul {
            list-style: none;
            padding: 0;
        }

        .contact-info .info ul li {
            margin-bottom: 10px;
        }

        .contact-info .info ul li a {
            color: #000000;
            font-size: 1.2em;
        }

        .contact-info .image {
            flex-basis: 50%;
            text-align: center;
        }

        .contact-info .image img {
            max-width: 55%;
            height: auto;
        }
    </style>

    <div class="jumbotron text-center" style="background-color: #02483E; color: #fff;">
        <h1 class="display-4">Contact Information</h1>
    </div>

    <div class="container">
        <div class="info">
            <ul>
                <h2 style="color: #54bfaf;">Address:</h2>
                <p>Reina Mercedes Avenue, 41012 Seville, Spain</p>
                <li><a href="https://maps.app.goo.gl/MyKcMp62qkBrG1jG8" target="_blank">See on map</a></li><br>
                <h2 style="color: #54bfaf;">Email:</h2>
                <li><a href="mailto:banquetbuddyoficial@gmail.com">banquetbuddyoficial@gmail.com</a></li><br>
                <p>We strive to respond to messages in the shortest time possible.</p>
                <p>Thanks for your understanding.</p>
            </ul>
        </div>
        <div class="image">
            <img src="/static/core/images/Contacto.png">
        </div>
    </div>
</div>

{% endblock %}