{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<style>
    .error-report-container {
        margin-top: 30px;
        background-color: #fff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    }

    h2 {
        text-align: center;
        margin-bottom: 30px;
    }

    .form-group {
        margin-bottom: 20px;
    }

    label {
        font-weight: bold;
        color: #02483E;
    }

    textarea {
        resize: none;
    }

    button[type="submit"] {
        width: 100%;
    }
</style>
<div class="container">
    <div class="error-report-container">
        <h2 style="color: #02483E; font-weight: bold; text-shadow: 1px 1px 2px rgba(0,0,0,0.3);">
            Report Error</h2>

            <div id="success-message" style="display: none;">
                <p>Feedback enviado correctamente. Redirigiendo en 5 segundos...</p>
            </div>

        <form method="post">
            {% csrf_token %}
            <!-- Name -->
            <div class="form-group">
                <label for="id_nombre">Name:</label>
                <input type="text" class="form-control" id="id_nombre" name="name" required>
            </div>
            <!-- Surname -->
            <div class="form-group">
                <label for="id_surname">Surname:</label>
                <input type="text" class="form-control" id="id_surname" name="surname" required>
            </div>
            <!-- Email -->
            <div class="form-group">
                <label for="id_reporter_email">Email:</label>
                <input type="email" class="form-control" id="id_reporter_email" name="reporter_email" required>
            </div>
            <label for="id_error_type">Error Type:</label>
            <div class="form-group">

                <select id="id_error_type" name="error_type">
                    {% for choice in form.error_type.field.choices %}
                    <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                    {% endfor %}
                </select>
            </div>
            <!-- Message -->
            <div class="form-group">
                <label for="id_mensaje">Observations:</label>
                <textarea class="form-control" id="id_mensaje" name="message" rows="4" required></textarea>
            </div>
            <button type="submit" class="btn btn-custom">Submit</button>
        </form>
    </div>
</div>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script>
            document.getElementById("error-report-form").addEventListener("submit", function(event) {
                window.location.href = "/error_report_send";
                event.preventDefault();
            });
        </script>
{% endblock %}