{% extends 'core/base.html' %}
{% load static %}

{% block content %}

<style>
  .faq-container {
    max-width: 1200px;
    margin: 0 auto;
  }
  .faq-item {
    background-color: #f0f0f0;
    border-radius: 20px;
    margin-bottom: 20px;
  }
  .faq-title {
    cursor: pointer;
    padding: 10px;
    font-weight: bolder;
  }
  .faq-answer {
    padding: 25px;
    display: none;
  }
  .faq-item.open .faq-answer {
    display: block;
  }
</style>

    <div class="jumbotron text-center" style="background-color: #02483E; color: #fff;">
        <h1 class="display-4">FAQ</h1>
        <p class="lead">We answer your questions</p>
    </div>

<div class="faq-container">
    <div class="faq-item">
        <div class="faq-title">What types of events can benefit from your catering service?</div>
        <div class="faq-answer">
          Our companies offer a versatile and adaptable catering service for a wide range of events.
          From intimate weddings to large corporate celebrations, through social events such as birthdays,
          anniversaries, family reunions, product launches, conferences and much more.
          We are committed to providing an exceptional dining experience, regardless of the type of event you are planning.
        </div>
      </div>
    <div class="faq-item">
    <div class="faq-title">How can I request a quote for my event?</div>
    <div class="faq-answer">
      Exploring the various catering service options, you can use our handy search filters and fill out a form with your preferences.
      Once sent, our catering company will be in charge of managing all your requirements and wishes for the event, including the budget.
    </div>
  </div>
  <div class="faq-item">
    <div class="faq-title">What menu options do you offer for events such as weddings or celebrations?</div>
    <div class="faq-answer">
      Each catering company presents a unique menu. Explore through our page or use our filters to find the catering that offers the menu you like the most.
      Each catering service has different specialties.
    </div>
  </div>
  <div class="faq-item">
    <div class="faq-title">
      What is the process for uploading my resume to the website and applying for available job opportunities?</div>
    <div class="faq-answer">
      Look for job opportunities at catering companies that are hiring. Send your CV to these companies and they might consider you for the position.
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const faqItems = document.querySelectorAll('.faq-item');

    faqItems.forEach(function (item) {
      const faqTitle = item.querySelector('.faq-title');

      faqTitle.addEventListener('click', function () {
        const isOpen = item.classList.contains('open');

        faqItems.forEach(function (otherItem) {
          otherItem.classList.remove('open');
        });

        if (!isOpen) {
          item.classList.add('open');
        }
      });
    });
  });
</script>

{% endblock %}