{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<style>
    .login-form {
        background-color: #54BFAF;
        padding: 20px;
        border-radius: 35px;
        text-align: center;
    }

    .rounded-input {
        border-radius: 10px;
        border: 1px solid #ccc;
        padding: 8px;
    }

    .login-heading {
        padding-bottom: 40px;
    }

    .btn {
        background-color: #02483E;
        color: white;
        border: none;
        cursor: pointer;
        width: 30%;
        border-radius: 10px;
        margin-bottom: 20px;
        transition: background-color 0.3s;
    }

    .btn:hover {
        background-color: #01352e;
    }

    .forgot-password {
        margin-top: 10px;
        color: #ffffff;
    }

    .mt-6 {
        margin-top: 7rem;
    }

    @media (max-width: 767px) {
        .mt-6 {
            margin-top: 3rem;
        }
    }
</style>

<div class="container mt-6" style="margin-bottom: 10px;">
    <div class="row row-cols-1 row-cols-md-2 justify-content-center align-items-center">
        <div class="col-md-6 text-center">
            <img src="{% static 'core/images/Logo-transparente.png' %}" alt="Logo" class="logo-image">
        </div>
        <div class="col-md-6">
            <div class="login-form">
                <h2 class="login-heading"><u>Log In</u></h2>
                <form method="post">
                    {% csrf_token %}
                    {% if form.non_field_errors %}
                    <div class="alert alert-danger">
                        {% for error in form.non_field_errors %}
                        <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                    {% endif %}
                    <div class="form-group">
                        {{ form.username }}
                    </div>
                    <div class="form-group">
                        {{ form.password }}
                    </div>
                    <button type="submit" class="btn btn-primary">Log In</button>
                </form>
                <a href="{% url 'reset_password' %}" class="forgot-password">Forgot your password?</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
