{% extends 'core/base.html' %}
{% block content %}
<div class="container">
    <h2 style="color: #02483E; margin-bottom: 30px; margin-top: 30px; font-weight: bold; text-shadow: 1px 1px 2px rgba(0,0,0,0.3);">
        Privacy Policy Archive</h2>
    <ul>
        <li><a href="{% url 'policy_version1_0' %}" style="color: #54bfaf; font-weight: bold;"> Version 1.0 - Effective 26/03/2024 - 08/04/2024 </a></li>
    </ul>
</div>

<style>
    @media (max-width: 767px) {
        h2 {
            font-size: 30px;
        }
    }
</style>
{% endblock %}
