{% extends 'core/base.html' %}
{% load static %}

{% block content %}

<div class="jumbotron text-center" style="background-color: #02483E; color: #fff;">
    <h1 class="display-4">Política de Privacidad</h1>
    <p class="lead">Versión de la Política: 1.0</p>
    <p class="lead">Fecha de última revisión: 26 de marzo de 2024</p>
</div>

<!-- Contenido de la Política de Privacidad -->
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2 style="color: #54bfaf;">1. Introducción</h2>
            <p>Este documento establece la Política de Privacidad de la aplicación BanquetBuddy. Esta política está diseñada para informar a los usuarios sobre cómo recopilamos, usamos, divulgamos y protegemos la información personal proporcionada a través de nuestra plataforma. Esta política es conforme a la normativa vigente en España, incluyendo el Reglamento General de Protección de Datos (RGPD).</p>
            <hr style="background-color: #54bfaf;">

            <h2 style="color: #54bfaf;">2. Aceptación de la Política</h2>
            <p>Al utilizar BanquetBuddy, los usuarios aceptan las prácticas descritas en esta Política de Privacidad. Si no está de acuerdo con alguna parte de esta política, no debe utilizar la aplicación.</p>
            <hr style="background-color: #54bfaf;">

            <h2 style="color: #54bfaf;">3. Cambios en la Política de Privacidad</h2>
            <p>BanquetBuddy se reserva el derecho de modificar esta Política de Privacidad en cualquier momento. Los cambios entrarán en vigor inmediatamente después de su publicación en la aplicación. Los usuarios serán informados de cualquier cambio significativo y su consentimiento será solicitado si es necesario de acuerdo con las leyes aplicables.</p>
            <hr style="background-color: #54bfaf;">
            
            <h2 style="color: #54bfaf;">4. Responsable del Tratamiento de Datos</h2>
            <p>El responsable del tratamiento de los datos personales en BanquetBuddy es BanquetBuddy S.L.</p>
            <hr style="background-color: #54bfaf;">

            <h2 style="color: #54bfaf;">5. Recopilación de Datos Personales</h2>
            <p>a. Información que usted proporciona: Esto incluye datos personales proporcionados al crear una cuenta, como nombre, dirección de correo electrónico, número de teléfono, y detalles profesionales (para usuarios de catering y buscadores de empleo). Para los organizadores de eventos, se pueden requerir detalles adicionales como preferencias de eventos y datos de contacto.</p>
            <p>b. Información recopilada automáticamente: La aplicación puede recoger automáticamente ciertos datos, como la dirección IP, información del dispositivo, y datos de uso, para mejorar la experiencia del usuario y la funcionalidad de la aplicación.</p>
            <p>c. Información de terceros: Si los usuarios eligen vincular sus cuentas de redes sociales o utilizar funciones que requieren información de terceros, BanquetBuddy recopilará esta información según lo permitido por las configuraciones de privacidad del usuario en esas plataformas.</p>

            <hr style="background-color: #54bfaf;">
            <h2 style="color: #54bfaf;">6. Uso de los Datos Personales</h2>
            <p>Los datos personales recopilados serán utilizados para:</p>
            <ul>
                <li>Gestionar la cuenta del usuario: Para crear y mantener su cuenta en BanquetBuddy.</li>
                <li>Proporcionar servicios: Para conectar a organizadores de eventos con empresas de catering y buscadores de empleo en el sector.</li>
                <li>Mejorar la aplicación: Para personalizar la experiencia del usuario y realizar mejoras en la aplicación basadas en el análisis de datos de uso.</li>
                <li>Comunicaciones: Para enviar actualizaciones, ofertas, y comunicaciones importantes relacionadas con la aplicación.</li>
                <li>Cumplimiento legal: Para cumplir con obligaciones legales, como la respuesta a requerimientos judiciales.</li>
            </ul>

            <hr style="background-color: #54bfaf;">
            <h2 style="color: #54bfaf;">7. Compartición y Divulgación de Datos</h2>
            <p>a. Con otros usuarios: En el funcionamiento normal de la aplicación, compartiremos información relevante entre los tres tipos de usuarios (organizadores de eventos, empresas de catering y buscadores de empleo en catering) para facilitar la organización de eventos y el empleo. Esto incluye, por ejemplo, compartir contactos y perfiles profesionales.</p>
            <p>b. Proveedores de servicios: Podemos compartir datos personales con proveedores de servicios que nos ayudan a operar la aplicación, como empresas de hosting o análisis de datos. Estos proveedores están sujetos a obligaciones de confidencialidad y no tienen permitido usar los datos personales para otros fines.</p>
            <p>c. Requerimientos legales y protección de derechos: Podemos divulgar información personal si creemos que es necesario para cumplir con una ley, reglamento, proceso legal o solicitud gubernamental, o para proteger los derechos, propiedad o seguridad de BanquetBuddy, sus usuarios u otros.</p>
            <hr style="background-color: #54bfaf;">

            <h2 style="color: #54bfaf;">8. Derechos de los Usuarios</h2>
            <p>Los usuarios de BanquetBuddy tienen ciertos derechos con respecto a sus datos personales, incluyendo:</p>
            <ul>
                <li>Acceso: Los usuarios pueden acceder a la información que tenemos sobre ellos.</li>
                <li>Rectificación: Los usuarios pueden solicitar la corrección de datos incorrectos.</li>
                <li>Supresión: Los usuarios pueden solicitar la eliminación de sus datos personales, sujetos a ciertas condiciones.</li>
                <li>Oposición y limitación del tratamiento: Los usuarios pueden oponerse al tratamiento de sus datos o solicitar la limitación del mismo.</li>
                <li>Portabilidad: Los usuarios tienen derecho a recibir sus datos personales en un formato estructurado y de uso común.</li>
            </ul>

            <hr style="background-color: #54bfaf;">
            <h2 style="color: #54bfaf;">9. Seguridad de los Datos</h2>
            <p>BanquetBuddy toma medidas razonables para proteger la información contra el acceso no autorizado, alteración, divulgación o destrucción. Esto incluye protocolos de seguridad y encriptación.</p>
            <hr style="background-color: #54bfaf;">

            <h2 style="color: #54bfaf;">10. Transferencias Internacionales de Datos</h2>
            <p>a. Alcance de las transferencias: Dado que BanquetBuddy puede operar a nivel global, los datos personales pueden ser transferidos y procesados en países fuera de España o la Unión Europea. En estos casos, nos aseguramos de que se proporcione un nivel adecuado de protección para los datos personales, en conformidad con la legislación aplicable.</p>
            <p>b. Medidas de seguridad: Cuando se realizan transferencias internacionales de datos, BanquetBuddy implementa salvaguardias adecuadas, como cláusulas contractuales estándar aprobadas por la Comisión Europea, para garantizar que la información permanezca protegida.</p>
            <hr style="background-color: #54bfaf;">

            <h2 style="color: #54bfaf;">11. Contacto</h2>
            <p>Para preguntas, comentarios o solicitudes relacionadas con esta Política de Privacidad o el tratamiento de datos personales por parte de BanquetBuddy, los usuarios pueden contactarnos a través de:</p>
            <ul>
                <li>Correo Electrónico: dpo@banquetbuddy.es</li>
               
            </ul>
            <p>Además, los usuarios tienen derecho a presentar una reclamación ante la Agencia Española de Protección de Datos (AEPD) si consideran que el tratamiento de sus datos personales no cumple con la normativa de protección de datos.</p>
        </div>
    </div>
</div>

{% endblock %}
