{% extends 'core/base.html' %}
{% load static %}
{% block content %}

<style>
  #curriculum {
    color: black;
  }
</style>

<div class="container mt-4 mb-4">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card" style="background-color: #02483e">
        <div class="card-body">
          <h2 class="card-title text-center text-white">Edit Profile</h2>
          {% if messages %}
            {% for message in messages %}
              {% if message.tags == 'error' %}
                <div class="alert alert-danger text-center" role="alert">
                  {{ message }}
                </div>
              {% endif %}
            {% endfor %}
          {% endif %}

          <form method="post" action="{% url 'profile_edit' %}" id="userForm" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
              <label for="email" class="text-white">Email:</label>
              <input
                type="email"
                class="form-control"
                id="email"
                placeholder="mail@example.com"
                value="{{ user.email }}"
                name="email"
              />
            </div>
            <div class="form-group">
              <label for="username" class="text-white">Username:</label>
              <input
                type="text"
                class="form-control"
                id="username"
                placeholder="username"
                value="{{ user.username }}"
                name="username"
              />
            </div>
            <div class="form-group">
              <label for="firstName" class="text-white">Name:</label>
              <input
                type="text"
                class="form-control"
                id="firstName"
                placeholder="Name"
                value="{{ user.first_name }}"
                name="first_name"
              />
            </div>
            <div class="form-group">
              <label for="lastName" class="text-white">Last name:</label>
              <input
                type="text"
                class="form-control"
                id="lastName"
                placeholder="Last name"
                value="{{ user.last_name }}"
                name="last_name"
              />
            </div>
            {% if user.EmployeeUsername %}
              <div class="form-group">
                <label for="curriculum" class="text-white">Curriculum:</label>
                {% if user.EmployeeUsername.curriculum %}
                  <a href="{{ user.EmployeeUsername.curriculum.url }}" target="_blank">{{ user.EmployeeUsername.curriculum.name }}</a>
                {% else %}
                  There is no CV attached
                {% endif %}
                <input type="file" class="form-control-file" id="curriculum" name="curriculum">
              </div>
            {% endif %}
          
            <div class="text-center mt-3">
              <button type="submit" class="btn btn-custom-blue">Save Changes</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
