{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<style>
    .container {
        text-align: center;
    }

    .col-md-4 {
        display: block;
        margin: 0 auto;
        background-color: #f3f3f3;
        text-align: center;
        max-width: 300px;
        border-radius: 10px;
        border: 1px solid #02483E;
        margin-bottom: 50px;
        padding: 20px;
        box-sizing: border-box;
        box-shadow: 0px 2px 5px #ddd;
    }

    .price_tag {
        margin-top: 10px;
        font-size: 160%;
    }

    .feature_list {
        margin-top: 10px;
        list-style: none;
    }

    .head {
        font-weight: bold;
        margin-top: 5%;
        font-size: 150%;
        text-align: left;
    }

    ul {
        list-style: none;
        text-align: left
    }

    .plan-btn {
        margin-bottom: 20px;
        bottom: 10px;
    }

    .btn-ready {
        background-color: #02483E;
        color: white;
    }
    
    .btn-ready:hover {
        background-color: #01352e;
        color: white;
    }
    
    .btn-text {
        color: white; 
    }
</style>
{% if messages %}
<div class="container mt-3">
    <div class="alert alert-success" id="messageAlert" role="alert">
        <ul class="list-unstyled mb-0">
            {% for message in messages %}
            <li class="{{ message.tags }}">{{ message }}</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endif %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="mb-4 text-center" style="color: #02483E; margin-bottom: 30px; margin-top: 30px; font-weight: bold; text-shadow: 1px 1px 2px rgba(0,0,0,0.3);">
                Subscription Plans</h2>
        </div>
    </div>
</div>

{% if request.user.is_authenticated and request.user.ParticularUsername %}
<div class="container">
    <div class="row" style="margin-left: 15%;">
        <div class="col-md-4">
            <div class="head">
                <span>Free</span>
            </div>
            <div class="price_tag">
                <span class="price">
                    <span class="currency">0</span>
                    <span class="cent">.00</span>
                    <span class="sign">€</span>
                    <span class="month">/MON</span>
                </span>
            </div>
            <div class="feature_list" style="margin-top: 15%;">
                <ul>
                    <li>✔ Catering hiring</li>
                </ul>
            </div>
        </div>
        <div class="col-md-4">
            <div class="head">
                <span>Premium</span>
            </div>
            <div class="price_tag">
                <span class="price">
                    <span class="currency">4</span>
                    <span class="cent">.99</span>
                    <span class="sign">€</span>
                    <span class="month">/MON</span>
                </span>
            </div>
            <div class="feature_list" style="margin-top: 15%;">
                <ul>
                    <li>✔ Catering hiring</li>
                    <li>✔ No fees</li>
                </ul>
            </div>
            {% if is_suscribed == TRUE %}
            <div class="plan-btn" style="margin-top:29% ;">
                <button type="button" href="" class="btn btn-danger"><a href="{% url 'catering_unsuscribe' %}"
                        class="text-decoration-none text-light">Cancelar subscripción</a></button>
            </div>
            {%else%}
            <div class="plan-btn" style="margin-top:29% ;">
                <button type="button" href="" class="btn btn-dark"><a href="{% url 'process_premium' %}"
                        class="text-decoration-none text-light">Get ready</a></button>
            </div>
            {%endif %}
        </div>
    </div>
{% endif %}
{% if request.user.is_authenticated and user.CateringCompanyusername %}
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="head">
                <span style="color: #02483E;">Basic</span>
            </div>
            <div class="price_tag">
                <span class="price">
                    <span class="currency">9</span>
                    <span class="cent">.99</span>
                    <span class="sign">€</span>
                    <span class="month">/MON</span>
                </span>
            </div>
            <div class="feature_list" style="margin-top: 15%;">
                <ul>
                    <li>✔ Company Publication</li>
                    <li>✔ Chat with Customers</li>
                    <li>✔ Insights Panel</li>
                </ul>
            </div>
            {% if price_plan == "BASE" %}
            <div class="plan-btn" style="margin-top:30%;">
                <button type="button" class="btn btn-danger">
                    <a href="{% url 'catering_unsuscribe' %}" class="text-decoration-none text-light">
                        <span class="btn-text">Cancel subscription</span>
                    </a>
                </button>
            </div>
            {% elif price_plan == "PREMIUM_PRO" or price_plan == "PREMIUM"%}

            {%else%}
            <div class="plan-btn" style="margin-top:30%;">
                <button type="button" class="btn btn-ready">
                    <a href="{% url 'process_base' %}" class="text-decoration-none text-light">
                        <span class="btn-text">Get ready</span>
                    </a>
                </button>
            </div>
            {%endif %}
        </div>
        <div class="col-md-4">
            <div class="head">
                <span style="color: #02483E;">Premium</span>
            </div>
            <div class="price_tag">
                <span class="price">
                    <span class="currency">19</span>
                    <span class="cent">.99</span>
                    <span class="sign">€</span>
                    <span class="month">/MON</span>
                </span>
            </div>
            <div class="feature_list" style="margin-top: 8%;">
                <ul>
                    <li>✔ Company Publication</li>
                    <li>✔ Chat with Customers</li>
                    <li>✔ Calendar of Events</li>
                    <li>✔ Task Management</li>
                    <li>✔ Reports and Proposals</li>
                </ul>
            </div>
            {% if price_plan == "PREMIUM" %}
            <div class="plan-btn" style="margin-top:20%;">
                <button type="button" class="btn btn-danger">
                    <a href="{% url 'catering_unsuscribe' %}" class="text-decoration-none text-light">
                        <span class="btn-text">Cancel subscription</span>
                    </a>
                </button>
            </div>
            {%elif price_plan == "PREMIUM_PRO"%}

            {%else%}
            <div class="plan-btn" style="margin-top:20%;">
                <button type="button" class="btn btn-ready">
                    <a href="{% url 'process_premium' %}" class="text-decoration-none text-light">
                        <span class="btn-text">Get ready</span>
                    </a>
                </button>
            </div>
            {%endif %}
        </div>
        <div class="col-md-4">
            <div class="head">
                <span style="color: #02483E;">Pro</span>
            </div>
            <div class="price_tag">
                <span class="price">
                    <span class="currency">29</span>
                    <span class="cent">.99</span>
                    <span class="sign">€</span>
                    <span class="month">/MON</span>
                </span>
            </div>
            <div class="feature_list">
                <ul>
                    <li>✔ Company Publication</li>
                    <li>✔ Chat with Customers</li>
                    <li>✔ Calendar of Events</li>
                    <li>✔ Task Management</li>
                    <li>✔ Reports and Proposals</li>
                    <li>✔ Employee hiring</li>
                </ul>
            </div>
            {% if price_plan == "PREMIUM_PRO" %}
            <div class="plan-btn" style="margin-top:15%;">
                <button type="button" class="btn btn-danger">
                    <a href="{% url 'catering_unsuscribe' %}" class="text-decoration-none text-light">
                        <span class="btn-text">Cancel subscription</span>
                    </a>
                </button>
            </div>
            {%else%}
            <div class="plan-btn" style="margin-top:20%;">
                <button type="button" class="btn btn-ready">
                    <a href="{% url 'process_pro' %}" class="text-decoration-none text-light">
                        <span class="btn-text">Get ready</span>
                    </a>
                </button>
            </div>
            {%endif %}
        </div>
    </div>
    {% endif %}
{% endblock %}
