{% extends 'core/base.html' %}
{% load static %}

{% block content %}



<script>
    function confirmHire(userName, offerTitle, startDate, endDate) {
        return confirm(`Are you sure you want to hire ${userName} for the offer "${offerTitle}" from ${startDate} to ${endDate}?`);
    }
    
    function confirmReject(userName, offerTitle) {
        return confirm(`Are you sure you want to reject ${userName}'s application for "${offerTitle}"?`);
    }
</script>

{% if messages %}
    {% for message in messages %}
        <div class="alert {{ message.tags }}">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}


<div class="container">
    <h1>Applicant List</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">First name and last name</th>
                <th scope="col">English Level</th>
                <th scope="col">Profession</th>
                <th scope="col">Experience</th>
                <th scope="col">Skills</th>
                <th scope="col">Curriculum</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for applicant in applicants %}
            <tr>
                <td>
                    <a href="{% url 'employee_record' employee_id=applicant.employee.user.id %}">
                        {{ applicant.employee.user.username }}
                    </a>
                </td>
                <td>{{ applicant.employee.english_level }}</td>
                <td>{{ applicant.employee.profession }}</td>
                <td>{{ applicant.employee.experience }}</td>
                <td>{{ applicant.employee.skills }}</td>
                <td><a href="{{ applicant.employee.curriculum.url }}" target="_blank">{{ applicant.employee.curriculum.name }}</a></td>
                <td>
                    <form action="{% url 'hire_employee' employee_id=applicant.employee.user.id %}" method="post" onsubmit="return confirmHire('{{ applicant.employee.user.username }}', '{{ offer.title }}', '{{ offer.start_date|date:"Y-m-d" }}', '{{ offer.end_date|date:"Y-m-d" }}');">
                        {% csrf_token %}
                        <input type="hidden" name="offer_id" value="{{ offer.id }}">
                        <button type="submit" name="action" value="hire" class="btn btn-success">Hire</button>
                    </form>
                    <form action="{% url 'hire_employee' employee_id=applicant.employee.user.id %}" method="post" onsubmit="return confirmReject('{{ applicant.employee.user.username }}', '{{ offer.title }}');">
                        {% csrf_token %}
                        <input type="hidden" name="offer_id" value="{{ offer.id }}">
                        <button type="submit" name="action" value="reject" class="btn btn-danger">Reject</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
