{% extends 'core/base.html' %}

{% block content %}
<style>
    form {
    margin: 10%;
}
input[type="submit"] {
    display: block;
    width: 80%;
    padding: 0.5%;
    background-color: #02483E;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 4%;
    margin-left: 10%;
    margin-right: 10%;
}

input[type="text"], textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

</style>

<form method="POST" action="{% url 'update_service' service.id %}">
    {% csrf_token %}
    <label for="name">Name:</label>
    <input type="text" id="name" name="name"  value="{{ service.name }}" required><br>
    <label for="description">Description:</label>
    <textarea id="description" name="description" required>{{ service.description }} </textarea><br>
    <label for="location">Location:</label>
    <textarea id="location" name="location" required>{{ service.location }} </textarea><br>
    <label for="price">Price:</label>
    <input type="text" id="price" name="price" value="{{ service.price }}" required><br>
    <label for="capacity">Capacity:</label>
    <input type="text" id="capacity" name="capacity" value="{{ service.capacity }}" required><br>
    <input type="submit" value="Update">
</form>


{% endblock %}