{% extends 'core/base.html' %}

{% block content %}
<div class="container mt-4 mb-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card" style="background-color: #02483e">
                <div class="container">
                    <h2 class="mt-4 mb-3 text-white text-center">Edit Plate</h2>
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group text-white">
                            <label for="id_name">Name:</label>
                            {{ form.name }}
                        </div>
                        <div class="form-group text-white">
                            <label for="id_description">Description:</label>
                            {{ form.description }}
                        </div>
                        <div class="form-group text-white">
                            <label for="id_price">Price:</label>
                            {{ form.price }}
                        </div>
                        <div class="form-group text-white">
                            <label for="id_menu">Menu:</label>
                            {{ form.menu }}
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary" style="background-color: #54bfaf">Update Plate</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
