{% extends 'core/base.html' %}
{% load static %}

{% block content %}

<style>
  .card {
    height: 450px
  }

  .btn-create {
    display: block;
    width: 80%;
    padding: 0.5%;
    background-color: #02483E;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10%;
    margin-right: 10%;
  }

  .btn-create:hover {
    background-color: #01352e;
    color: white;
  }

  a {
    text-decoration: none !important;
  }
</style>

<div class="container mt-3">
  <h2 class="mb-4 text-center" style="color: #02483E; margin-bottom: 30px; margin-top: 30px; font-weight: bold; text-shadow: 1px 1px 2px rgba(0,0,0,0.3);">
    Services List</h2>

  {% if messages %}
  {% for message in messages %}
  <div class="alert alert-{{ message.tags }}" role="alert">{{ message }}</div>
  {% endfor %}
  {% endif %}

   <!-- Alerta sobre servicios sin menús -->
   <div class="alert alert-warning text-center" role="alert">
    If you create a service with no menus associated, it will not be visible to clients.
  </div>

  <a href="{% url 'create_service' %}">
    <button class="btn btn-create mb-4">
      Create New Service
    </button>
  </a>

  <div class="row">
    {% for service in services %}
    <div class="col-md-4">
      <div class="card mb-4 rounded-lg shadow">
        <h4 class="card-title mt-4" style="text-align: center;">{{ service.name }}</h4>
        <div class="card-body">
          <hr style="margin-top: 1px; border-top: 2px solid black; width: 50%;">
          <p class="card-text" style="text-align: center;">{{ service.description }}</p>
          <p class="card-text" style="text-align: center;"><strong>Location: </strong> {{ service.location }} </p>
          <p class="card-text" style="text-align: center;"><strong>Number of Guests: </strong> {{ service.capacity }} guests</p>
          <p class="card-text" style="text-align: center;"><strong>Price: </strong> {{ service.price }} €/guest</p>
        </div>
        <br>
        <div style="text-align: center;">
          <a href="{% url 'list_menus' %}">
            <button class="btn btn-custom">
                Add Menu
            </button>
          </a>
          <a href="{% url 'list_employee' service.id %}">
            <button class="btn btn-custom" style="margin-left: 5px;">
                Employees
            </button>
          </a>
          <a href="{% url 'update_service' service.id %}">
            <button class="btn btn-custom-blue" style="margin-left: 5px;">
              Edit
            </button>
          </a>
          <a href="{% url 'delete_service' service.id %}">
            <button class="btn btn-danger" style="margin-left: 5px;">
              Delete
            </button>
          </a>
        </div>
        <br>
      </div>
    </div>

    {% empty %}
    <div class="col">
      <p class="mb-4 text-center small-font" style="color: #02483E; font-family: 'Merriweather', sans-serif; font-weight: bold; text-shadow: 1px 1px 2px rgba(0,0,0,0.3);">No services published</p>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}