{% extends 'core/base.html' %}

{% block extra_css %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
{% endblock %}
{% block content %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Acme&display=swap">

<style>
    
    @media screen and (max-width: 600px) and (min-width: 451px) {
        .card-text {
            font-size: 15px; /* Cambio de tamaño de fuente en dispositivos pequeños */
        }
        .card-title {
            font-size: 16px; /* Tamaño de fuente para los títulos en dispositivos pequeños */
        }
        .btn {
            font-size: 14px; /* Cambiar el tamaño de la fuente de los botones en dispositivos pequeños */
        }
        select.form-control {
            font-size: 13px; /* Cambiar el tamaño de la fuente de los elementos <option> en dispositivos pequeños */
        }
        h2{
            font-size: 40px;
        }
    }
    @media screen and (max-width: 451px) {
        .card-text {
            font-size: 12px; /* Cambio de tamaño de fuente en dispositivos pequeños */
        }
        .card-title {
            font-size: 15px; /* Tamaño de fuente para los títulos en dispositivos pequeños */
        }
        .btn {
            font-size: 12.5px; /* Cambiar el tamaño de la fuente de los botones en dispositivos pequeños */
        }
        select.form-control {
            font-size: 12px; /* Cambiar el tamaño de la fuente de los elementos <option> en dispositivos pequeños */
        }
        h2{
            font-size: 35px;
        }
    }

</style>

<div class="container my-5">
    {% if messages %}
    <div class="container mt-3">
        <div class="alert alert-success" id="messageAlert" role="alert">
            <ul class="list-unstyled mb-0">
                {% for message in messages %}
                <li class="{{ message.tags }}">{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <script>
        setTimeout(function() {
            document.getElementById('messageAlert').style.display = 'none';
        }, 4000); // 4 segundos
    </script>
    {% endif %}

    <div class="container mt-4 mb-4">
        <div class="row justify-content-center align-items-center mb-4">
            <div class="col-md-6 text-center">
                <h2 class="mb-0" style="color: #02483E;">My Plates</h2>
            </div>
        </div>

        <div class="mt-2 right justify-content-center" style="text-align: center;">
            <a href="{% url 'add_plate' %}" class="btn btn-primary btn-add">Add New Plate</a>
        </div>
        <!-- Filtro de menús -->
        <form method="get" class="form-inline my-2 my-lg-0">
            <select name="menu_id" class="form-control mr-sm-2">
                <option value="">All Menus</option>
                <option value="none" {% if request.GET.menu_id == 'none' %}selected{% endif %}>Not associated</option>
                {% for menu in menus %}
                    <option value="{{ menu.id }}" {% if request.GET.menu_id == menu.id|stringformat:"s" %}selected{% endif %}>{{ menu.name }}</option>
                {% endfor %}
            </select>
            <button class="btn btn-primary btn-add my-2 my-sm-0" type="submit">Filter</button>
        </form>

        <div class="row mt-4">
            {% for plate in plates %}
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ plate.name }}</h5>
                        <p class="card-text">Menu: {% if plate.menu %}{{ plate.menu.name }}{% else %}Not associated{% endif %}</p>
                        <p class="card-text">{{ plate.description }}</p>
                        <p class="card-text">Price: {{ plate.price }}</p>
                        <div class="btn-group" role="group" aria-label="Actions">
                            <form action="{% url 'edit_plate' plate.id %}" method="get">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-edit mr-2"><i class="bi bi-pencil"></i> Edit</button>
                            </form>
                            <form method="post" action="{% url 'delete_plate' plate.id %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger"><i class="bi bi-trash3"></i> Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {% empty %}
            <div class="col-md-12">
                <p>No plates found.</p>
            </div>
            {% endfor %}
        </div>

        <!-- Paginación -->
        <nav aria-label="Plate pagination">
            <ul class="pagination justify-content-center">
                {% if plates.has_previous %}
                <li class="page-item"><a class="page-link" href="?page=1"><<</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ plates.previous_page_number }}"><</a></li>
                {% endif %}

                {% for num in plates.paginator.page_range %}
                {% if plates.number == num %}
                <li class="page-item active"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                {% else %}
                <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                {% endif %}
                {% endfor %}

                {% if plates.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ plates.next_page_number }}">></a></li>
                <li class="page-item"><a class="page-link" href="?page={{ plates.paginator.num_pages }}">>></a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
</div>

{% endblock %}
