{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<style>
    /* Estilos generales para el tablero Kanban */
    .kanban-board {
        justify-content: space-around;
        padding: 20px;
    }

    /* Estilos para cada columna del Kanban */
    .kanban-column {
        width: 100%;
        min-height: 300px;
        background-color: #f4f4f4;
        margin: 0 10px;
        border-radius: 5px;
        padding: 10px;
        box-shadow: 0 2px 5px rgba(0,0,0,0.1);
        flex: 1;
    }

    .kanban-column h3 {
        text-align: center;
        color: #02483E;
    }

    /* Estilos para las tareas dentro de las columnas */
    .task {
        padding: 10px;
        background-color: white;
        border: 1px solid #ddd;
        margin-bottom: 10px;
        border-radius: 3px;
        cursor: pointer; /* Indica que la tarea es arrastrable */
        box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    }

    .task:hover {
        border-color: #aaa;
    }

    /* Estilo para la tarea mientras se arrastra */
    .task[draggable="true"]:active {
        opacity: 0.5;
    }

    /* Estilos para los detalles de la tarea */
    .task-details {
        margin-top: 10px;
        font-size: 0.9em;
    }

    .btn-edit {
        color: white;
        background-color: #4CAF50; /* Verde */
        border-color: #4CAF50; /* Borde del mismo color verde */
    }

    .btn-edit:hover, .btn-edit:focus {
        background-color: #45a049; /* Un verde un poco más oscuro */
        border-color: #3e8e41; /* Borde del mismo color verde oscuro */
    }


    .priority-low { background-color: #ccffcc; } /* Verde claro para baja prioridad */
    .priority-medium { background-color: #ffff99; } /* Amarillo para media prioridad */
    .priority-high { background-color: #ffcccc; } /* Rojo claro para alta prioridad */

    @media (max-width: 767px) {
        h2 {
            font-size: 35px;
        }

        h3 {
            font-size: 20px;
        }

        .kanban-board {
            margin-right: 20px;
        }

        .kanban-column {
            width: 100%;
            flex: none;
        }
    }
</style>



{% if messages %}
{% for message in messages %}
{% if message.tags == 'success' %}
<div class="alert alert-{{ message.tags }}" role="alert">{{ message }}</div>
{% else %}
<div class="alert alert-danger" role="alert">{{ message }}</div>
{% endif %}
{% endfor %}
{% endif %}

<h2 class="mb-4 text-center" style="color: #02483E; margin-bottom: 30px; margin-top: 30px; font-weight: bold; text-shadow: 1px 1px 2px rgba(0,0,0,0.3);">
    Manage Tasks for {{ event.name }}</h2>

<div class="kanban-board">
    <div class="row">
        <div class="kanban-column pending col-md-4 mb-4" data-state="PENDING">
            <h3>Pending</h3>
            <div class="tasks">
                {% for task in tasks %}
                {% if task.assignment_state == 'PENDING' %}
                <div class="task" draggable="true" data-task-id="{{ task.id }}">
                    <p>{{ task.description }}</p>
                    <div class="task-details">
                        Assigned to: 
                        {% with employees=task.employees.all %}
                            {% if employees %}
                                {% for employee in employees %}
                                    {{ employee.user.username }}{% if not forloop.last %}, {% endif %}
                                {% endfor %}
                            {% else %}
                                Not assigned
                            {% endif %}
                        {% endwith %}
                        <br>
                                    Priority: <span class="priority-{{ task.priority|lower }}">{{ task.priority }}</span><br>
                        Start: {{ task.assignment_date|date:"Y-m-d" }}<br>
                        Due: {{ task.expiration_date|date:"Y-m-d" }}
                    </div>
    
                    <button type="button" class="btn btn-edit btn-sm" onclick="loadTaskData({{ task.id }})">Edit Task</button>
    
                    <form method="post" action="{% url 'delete_task' task.id %}" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to delete this task?');">Delete Task</button>
                    </form>
                    
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="kanban-column in_progress col-md-4 mb-4" data-state="IN_PROGRESS">
            <h3>In Progress</h3>
            <div class="tasks">
                {% for task in tasks %}
                {% if task.assignment_state == 'IN_PROGRESS' %}
                <div class="task" draggable="true" data-task-id="{{ task.id }}">
                    <p>{{ task.description }}</p>
                    <div class="task-details">
                        Assigned to: 
                        {% with employees=task.employees.all %}
                            {% if employees %}
                                {% for employee in employees %}
                                    {{ employee.user.username }}{% if not forloop.last %}, {% endif %}
                                {% endfor %}
                            {% else %}
                                Not assigned
                            {% endif %}
                        {% endwith %}
                        <br> 
                            Priority: <span class="priority-{{ task.priority|lower }}">{{ task.priority }}</span><br>
                        Start: {{ task.assignment_date|date:"Y-m-d" }}<br>
                        Due: {{ task.expiration_date|date:"Y-m-d" }}
                    </div>
    
                    <button type="button" class="btn btn-edit btn-sm" onclick="loadTaskData({{ task.id }})">Edit Task</button>
            
    
                    <form method="post" action="{% url 'delete_task' task.id %}" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to delete this task?');">Delete Task</button>
                    </form>
                    
                    
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="kanban-column completed col-md-4 mb-4" data-state="COMPLETED">
            <h3>Completed</h3>
            <div class="tasks">
                {% for task in tasks %}
                {% if task.assignment_state == 'COMPLETED' %}
                <div class="task" draggable="true" data-task-id="{{ task.id }}">
                    <p>{{ task.description }}</p>
                    <div class="task-details">
                        Assigned to: 
                        {% with employees=task.employees.all %}
                            {% if employees %}
                                {% for employee in employees %}
                                    {{ employee.user.username }}{% if not forloop.last %}, {% endif %}
                                {% endfor %}
                            {% else %}
                                Not assigned
                            {% endif %}
                        {% endwith %}
                        <br>
                                            Priority: <span class="priority-{{ task.priority|lower }}">{{ task.priority }}</span><br>
                        Start: {{ task.assignment_date|date:"Y-m-d" }}<br>
                        Due: {{ task.expiration_date|date:"Y-m-d" }}
                    </div>
    
                    <button type="button" class="btn btn-edit btn-sm" onclick="loadTaskData({{ task.id }})">Edit Task</button>
            
    
                    <form method="post" action="{% url 'delete_task' task.id %}" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to delete this task?');">Delete Task</button>
                    </form>
                   
                    
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>

    <!-- formulario de añadir tarea -->



    <div class="container mt-4">
        <!-- Botón para desplegar el formulario de añadir tarea -->
        <div class="text-center" style="margin-bottom: 10px;">
            <button id="toggleAddTaskBtn" class="btn btn-add">
                <i class="bi bi-plus-circle"></i> Add Task
            </button>
        </div>
    
        <!-- Formulario desplegable, inicialmente oculto -->
        <div id="addTaskForm" style="display: none;" class="card card-body mt-4">
            <form method="post" action="{% url 'add_task' event_id=event.id %}" class="needs-validation" novalidate>
                {% csrf_token %}
                <div class="mb-3">
                    <label for="description" class="form-label">Task Description</label>
                    <input type="text" class="form-control" id="description" name="description" placeholder="Enter task description" required>
                    <div class="invalid-feedback">
                        Please provide a task description.
                    </div>
                </div>
                <div class="mb-3">
                    <label for="assignment_date" class="form-label">Assignment Date</label>
                    <input type="date" class="form-control" id="assignment_date" name="assignment_date" required>
                    <div class="invalid-feedback">
                        Please choose an assignment date.
                    </div>
                </div>
                <div class="mb-3">
                    <label for="expiration_date" class="form-label">Expiration Date</label>
                    <input type="date" class="form-control" id="expiration_date" name="expiration_date" required>
                    <div class="invalid-feedback">
                        Please choose an expiration date.
                    </div>
                </div>
                <div class="mb-3">
                    <label for="employees" class="form-label">Assign Employees</label>
                    {% if active_employees %}
                        {% for employee in active_employees %}
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="employee{{ employee.user.id }}" name="employees" value="{{ employee.user.id }}">
                                <label class="form-check-label" for="employee{{ employee.user.id }}">
                                    {{ employee.profession }} - {{ employee.user.username }}
                                </label>
                            </div>
                        {% endfor %}
                    {% else %}
                        <p style="color: red;">You currently have no employees assigned to this event.</p>
                    {% endif %}
                </div>
                
                <div class="mb-3">
                    <label for="priority" class="form-label">Priority</label>
                    <select class="form-select" id="priority" name="priority" required>
                        <option value="">Select Priority</option>
                        <option value="LOW">Low</option>
                        <option value="MEDIUM">Medium</option>
                        <option value="HIGH">High</option>
                    </select>
                    <div class="invalid-feedback">
                        Please select a priority level.
                    </div>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-custom">Add Task</button>
                </div>
            </form>
        </div>
    </div>
    
    <script>
        document.getElementById('toggleAddTaskBtn').addEventListener('click', function() {
            var form = document.getElementById('addTaskForm');
            form.style.display = form.style.display === 'block' ? 'none' : 'block';
        });
    </script>
    <script>
    

        document.addEventListener('DOMContentLoaded', function() {
            console.log("Kanban JS loaded and running");
    
            const board = document.querySelector('.kanban-board');
            board.addEventListener('click', function(event) {
                if (event.target.classList.contains('btn-edit')) {
                    event.preventDefault();
                    const taskId = event.target.closest('.task').dataset.taskId;
                    loadTaskData(taskId);
                }
            });
    
            function loadTaskData(taskId) {
                fetch(`/get_task_data/?task_id=${taskId}`)
                .then(response => response.json())
                .then(data => {
                    document.querySelector('#task-edit-form-container').innerHTML = data.form_html;
                    $('#editTaskModal').modal('show');
                })
                .catch(error => {
                    console.error('Error loading task data:', error);
                });
            }
    
            $('#editTaskModal').on('submit', 'form', function(event) {
                event.preventDefault();
                const $form = $(this);
                const formData = new FormData($form[0]);
    
                fetch($form.attr('action'), {
                    method: 'POST',
                    body: formData,
                    headers: {
                        'X-Requested-With': 'XMLHttpRequest'
                    }
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        $('#editTaskModal').modal('hide');
                        location.reload();
                    } else {
                        $('#task-edit-form-container').html(data.form_html);
                        $('#editTaskModal').modal('show');
                    }
                })
                .catch(error => {
                    console.error('Error updating task:', error);
                });
            });
        });
    
    </script>

<script src="{% static 'core/kanban.js' %}"></script>
<!-- Modal para editar tarea -->
<div class="modal fade" id="editTaskModal" tabindex="-1" role="dialog" aria-labelledby="editTaskModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editTaskModalLabel">Edit Task</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="task-edit-form-container">
                <!-- El formulario se carga aquí dinámicamente -->
            </div>
        </div>
    </div>
</div>


{% endblock %}