{% extends 'core/base.html' %}
{% load static %}

{% block content %}

<style>
    @media (max-width: 767px) {
        h2 {
            font-size: 25px;
        }
    }
</style>
<div class="container mt-4">
    <h2 class="mb-4" style="color: #02483E; margin-bottom: 30px; margin-top: 30px; font-weight: bold; text-shadow: 1px 1px 2px rgba(0,0,0,0.3);">
        New Recommendation for {{ employee.user.username }}</h2>

    <form method="post" action="{% url 'recommendation_letter' service_id=service.id employee_id=employee.user.id %}">
        {% csrf_token %}

        {% if form_error %}
            <div class="alert alert-danger">There were errors in the form. Please correct the highlighted fields.</div>
        {% endif %}

        <div class="form-group">
            <label for="description" style="color: #02483E;">Description:</label>
            <input type="text" name="description" class="form-control {% if form_error %}is-invalid{% endif %}" required>
        </div>

        <button type="submit" class="btn btn-custom">Confirm Letter</button>
    </form>
    <br>
</div>

{% endblock %}