{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<style>
    .content-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        margin: 0;
    }

    .content-container {
        max-width: 600px;
        width: 100%;
        padding: 20px;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin-top: 30px;
    }

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
</style>

<div class="content-wrapper">
    <div class="content-container">
        <h2 class="mb-4 text-center" style="color: #02483E; font-weight: bold; text-shadow: 1px 1px 2px rgba(0,0,0,0.3);">
            Booking Details</h2>
        <ul>
            <li style="margin-bottom: 10px;"><strong style="margin-right: 5px; color: #02483E;">Name:</strong> {{ event.name }}</li>
            <li style="margin-bottom: 10px;"><strong style="margin-right: 5px; color: #02483E;">Date:</strong> {{ event.date }}</li>
            <li style="margin-bottom: 10px;"><strong style="margin-right: 5px; color: #02483E;">Details:</strong> {{ event.details }}</li>
            <li style="margin-bottom: 10px;"><strong style="margin-right: 5px; color: #02483E;">Number of Guests:</strong> {{ event.number_guests }}</li>
            <li style="margin-bottom: 10px;"><strong style="margin-right: 5px; color: #02483E;">Booking State:</strong> {{ event.booking_state }}</li>
            <li style="margin-bottom: 10px;"><strong style="margin-right: 5px; color: #02483E;">Particular:</strong> {{ event.particular.user.email}}</li>
        </ul>
    </div>
</div>
{% endblock %}